Translate name of strongswan encryption algorithms for wireshark IKEv2 decryption table.

Wireshark IKEv2 decryption table accepts only the following names for encryption algorithms: "3DES [RFC2451]", "AES-CBC-128 [RFC3602]", "AES-CBC-192 [RFC3602]", "AES-CBC-256 [RFC3602]" and "NULL [RFC2410]" and strongSwan is using shorter names for those encryption algorithms.


When the function returns NULL it means that the encryption algorithm it's not yet supported in wireshark.
